.container {
  min-height: 100vh;
  background-image: url("nordwood-themes-ivP3TYdLvw0-unsplash.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.headline {
  background-color: white;
  opacity: 0.8;
  max-width: 80%;
}

.header {
  text-align: center;
}

.text {
  padding: 0 5%;
  text-align: left;
}
